include assets/header.pug
div(class="container")
    div(class="post-block__wrap")
        h1 Одностраничный пост:
        include assets/update-form.pug
        include assets/post-card.pug
include assets/scripts.pug