div(class="modal-mask modal-add")
    div(class="modal")
        div(class="modal-head")
            p(class="modal-title") Добавить запись
        div(class="modal-body")
            form(action="/add" method="POST")
                label(for="title") Название
                input(id="title" type="text" name="title" placeholder="Запись" required)
                label(for="date") Дата
                input(id="date" type="date" name="date" required)
                label(for="description") Описание
                textarea(id="description" type="text" name="description" placeholder="Описание" required)
                div(class="modal-footer")
                    button(class="button-primary btn-send" type="submit") Принять
                    button(class="button-danger btn-close") Закрыть окно